<html>
    <head>
        <title>huehue</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
        <script src="server.js"></script>
        <link rel="stylesheet" href="a.css">
    </head>
    <body>
        <div id="app">
            <header>
                <h1 v-text="sitename"></h1>
                <div id="item-list"></div>
                <button v-on:click="showShopCart()" id="shopCartButton" hidden="true">
                    {{cartItemCount}}
                    <i class="fa-solid fa-cart-plus"></i>shopping cart
                </button>
            </header>
            <main>
                <div v-if="showLesson">
                    <div id="sortArea">
                        <p>sort by</p><br>
                        <input type="radio" id="subject" name="sortCategory" value="subject" v-on:click="sortLessons('subject')">
                        <label for="subject">subject</label><br>
                        <input type="radio" id="location" name="sortCategory" value="location" v-on:click="sortLessons('location')">
                        <label for="location">location</label><br>
                        <input type="radio" id="price" name="sortCategory" value="price" v-on:click="sortLessons('price')">
                        <label for="price">price</label><br>
                        <input type="radio" id="availability" name="sortCategory" value="availability" v-on:click="sortLessons('availability')">
                        <label for="availability">availability</label>
                        <br><br>
                        
                        <p>order:</p><br>
                        <input type="radio" id="ascending" name="sortOrder" value="ascending">
                        <label for="ascending">ascending</label><br>
                        <input type="radio" id="descending" name="sortOrder" value="descending" v-on:click="sortReverse">
                        <label for="descending">descending</label>
                    </div>
                    <div id="lessonArea">
                        <div id="lessonBlock" v-for="lesson in lessons">
                            <div id="lessonImage">
                                <img style="width: 205px" v-bind:src="lesson.image">
                            </div>
                            <div id="lessonContent">
                                <h2 v-text="lesson.subject"></h2>
                                <p v-html="lesson.location"></p>
                                <p>price: {{lesson.price}} </p>
                                <p>available stock: {{lesson.availability - cartCount (lesson)}}</p>
                                
                                <button v-on:click="addToCart(lesson)" v-if="canAddToCart(lesson)">
                                    add to cart
                                </button> 
                                <button disabled ="disabled" v-else>
                                    out of stock
                                </button>
                                
                                <span v-if="lesson.availability === cartCount(lesson)">
                                    all out !!
                                </span>
                                <span v-else-if="lesson.availability - cartCount(lesson) < 5">
                                    only {{lesson.availability - cartCount (lesson)}} left !!
                                </span>
                                <span v-else>
                                    buy now !!
                                </span>
                                
                                <div>
                                    <span v-for="n in lesson.rating">★</span>
                                    <span v-for="n in 5 - lesson.rating">☆</span>
                                </div>
                            </div>
                        </div><br><br>
                    </div>
                </div>
                <div v-else-if="showCart">
                    <h2>shopping cart</h2>
                    <div style="height: 100%">
                        <div style="height: 50%">
                            <div id="cartBlock" v-for="lesson in cart">
                                <div id="lessonImage">
                                    <img style="width: 205px" v-bind:src="lesson.image">
                                </div>
                                <div id="lessonContent">
                                    <h2 v-text="lesson.subject"></h2>
                                    <p v-html="lesson.location"></p>
                                    <p>price: {{lesson.price}} </p>
                                    <button v-on:click="removeCart(lesson)">
                                        remove
                                    </button>                           
                                </div>
                            </div><br><br>
                        </div>
                    
                        <div id="checkout">
                            <p>
                                <strong>first name: </strong>
                                <input v-model="order.firstName"/>
                            </p>
                            <p>
                                <strong>last name: </strong>
                                <input v-model="order.lastName"/>
                            </p>
                            <p>
                                <strong>phone number: </strong>
                                <input v-model="order.phoneNum"/>
                            </p>
                            <p>
                                <strong>address: </strong>
                                <input v-model="order.address"/>
                            </p>
                            <p>
                                <strong>city: </strong>
                                <input v-model="order.city"/>
                            </p>

                            <button v-on:click="submitForm" :disabled="!enableOrder()">
                                place order
                            </button>
                        </div><br><br>
                    </div>
                    
                </div>
                <div v-else>
                    <h2>order information</h2>
                    <p>first name: {{order.firstName}}</p>
                    <p>last name: {{order.lastName}}</p>
                    <p>address: {{order.address}}</p>
                    <p>city: {{order.city}}</p>
                   
                </div>
            </main>
        </div>

        <script type="text/javascript">
            let webstore = new Vue({
                el:'#app',
                data: {
                    sitename: 'huehue',
                    lessons: [],
                    cart:[],
                    showLesson:true,
                    showCart: false,
                    order:{
                        firstName:'',
                        lastName:'',
                        phoneNum: '',
                        address:'',
                        city:''
                    },
                    states: {
                        AL: 'Alabama',
                        AR: 'Arizona',
                        CA: 'California',
                        NV: 'Nevada'
                    }
                },
                methods:{
                    addToCart(lesson){
                        const shopCartButton = document.getElementById('shopCartButton');
                        shopCartButton.hidden = false;
                        this.cart.push(lesson);
                    },
                    removeCart(lesson){
                        let index = this.cart.indexOf(lesson);
                        if (index > -1) {
                            this.cart.splice(index, 1);
                        }
                    },
                    showShopCart(){
                        this.showLesson = this.showLesson ? false:true;
                        this.showCart = this.showCart ? false:true;
                    },
                    showOrder(){
                        this.showCart = this.showCart ? false:true;
                        const shopCartButton = document.getElementById('shopCartButton');
                        shopCartButton.hidden = true;
                    },
                    enableOrder() {
                        const regexName = /^[A-Za-z]+$/;
                        const regexNum = /^\d+$/;
                        return regexName.test(this.order.firstName) && regexNum.test(this.order.phoneNum);
                    },
                    submitForm(){
                        alert("order submitted !!");
                        this.showCart = this.showCart ? false:true;

                        let orderedLessons = webstore.cart.map(item => item.subject);

                        let itemCount = {};
                        for (let item of orderedLessons) {
                            itemCount[item] = (itemCount[item] || 0) + 1;
                        }

                        let lessonCount = [];
                        let lessonIds = [];

                        for (const item in itemCount) {
                            lessonCount.push(`${item} x ${itemCount[item]}`);
                            lessonIds.push(`${item} x ${itemCount[item]}`);
                        }

                        const newOrder = {name: this.order.firstName, phoneNum: this.order.phoneNum,
                            lessonIDs: lessonCount, numOfSpaces: orderedLessons.length};

                        fetch('http://localhost:3000/collection/Orders', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(newOrder),
                        })
                        .then(response => response.json())
                        .then(responseJSON => {
                            document.getElementById('response').innerText = JSON.stringify(responseJSON);
                        })
                        .catch((error) => {
                            document.getElementById('error').innerText = error;
                        });
                    },
                    canAddToCart(lesson){
                        return lesson.availability>this.cartCount(lesson);
                    },
                    cartCount(lesson){
                        let count = 0;
                        for (let i = 0; i < this.cart.length; i++){
                            if (this.cart[i] === lesson){
                                count++;
                            }
                        }
                        return count;
                    },
                    changeBG(){
                        document.getElementById("sortArea").style.backgroundColor = "lightblue";
                    },
                    sortLessons(category) {
                        this.currentSortCategory = category;
                        this.lessons.sort((a, b) => {
                            let valA = a[category];
                            let valB = b[category];

                            if (typeof valA === 'string' && typeof valB === 'string') {
                                valA = valA.toLowerCase();
                                valB = valB.toLowerCase();
                            }

                            if (valA > valB) return 1;
                            if (valB > valA) return -1;
                            return 0;
                        });
                    },
                    sortReverse() {
                        this.lessons.reverse();
                    }
                },
                computed:{
                    cartItemCount: function() { 
                        return this.cart.length || "";
                    },
                    canAddToCart: function(){
                        return this.lesson.availability > this.cartItemCount;
                    },
                    itemsLeft() {
                        return this.lesson.availability - this.cartItemCount;
                    },
                    cartNotEmpty() {
                        return cartCount != 0;
                    }
                }
            }
        );
        fetch('http://localhost:3000/collection/Lessons', {
                    method: 'GET'
                })
                .then(response => response.json())
                .then(data => {
                    webstore.lessons = data.map(item => {
                        return {
                            id: item.id,
                            subject: item.subject,
                            location: item.location,
                            price: item.price,
                            image: item.image,
                            availability: item.availability,
                            rating: item.rating
                        };
                    });
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                });
        </script>
    </body>
</html>