#lessonBlock, #cartBlock {
  background-color: rgb(230, 213, 167);
  border-radius: 15px;
  border-color: rgb(183, 150, 104);
  border-style: solid;
  border-width: 5px;
  padding: 15px;
  overflow:auto;
  float: left;
}

#lessonBlock {
  margin-left: 50px;  
  margin: 15px;
}
#cartBlock {
  margin: 5px;
}

#checkout {
  background-color: rgb(230, 213, 167);
  border-radius: 15px;
  border-color: rgb(183, 150, 104);
  border-style: solid;
  border-width: 5px;
  width: 95%;
  height: 50%;
  padding: 15px;
  margin: auto;
}

#lessonContent {
    margin-left: 15px;
    float: left;
}
#lessonImage{
    margin-left: auto;
    float: left;
}
#sortArea{
    width: 20%;
    background-color: rgb(235, 216, 189);
    height: 100%;
    overflow: auto;
    float: left;
}
#lessonArea{
    width: 75%;
    background-color: white;
    height: 100%;
    float: left;
}

h1, h2, p, label{
    font-family: calibri;
}

header{
    width: 100%;
    text-align: center;
    background-color: rgb(183, 150, 104);
    font-size: 30px;
}
main{
    width: 100%;
    height: 100%;
    min-height: 100%;
}
html, body{
    padding: 0;
    margin: 0;
}